@model IEnumerable<DAL.Entities.SearchEntity>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@


@foreach (var item in Model)
{
    <div>
        <ul>
            <li>@item.RowKey</li>
            <li>@item.RestaurantAddress</li>
            <li><img src="@item.RestaurantLogo"/></li>
            <li>@item.Category</li>
            <li>@item.Rating</li>
            <li>@item.NumberOfVotes</li>
        </ul>
    </div>
}